---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hotel Sur">
  <main>
    <h1>Hotel Sur</h1>
  </main>
</Layout>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<script>
  // This is an example of a client-side script.
  // See https://docs.astro.build/core-concepts/scripts for more information.
  console.log("Hello from Astro!");

  // This is an example of a server-side script.
  // See https://docs.astro.build/core-concepts/scripts for more information.
  export const serverSideScript = () => {
    console.log("Hello from the server!");
  };

  const title = document.querySelector("h1");

  if (!title) {
    throw new Error("No title found!");
  }

  title.onclick = () => {
    serverSideScript();
  };
</script>
