---
import Layout from "../layouts/Layout.astro";

import { getImage } from "astro:assets";
import backgroundImage from "../images/fondo-escritorio.jpg";
import noise from "../images/ruido.gif";

const optimizedBackground = await getImage({
  src: backgroundImage,
  format: "webp",
});

const optimizedNoise = await getImage({
  src: noise,
  format: "gif",
});
---

<Layout title="Hotel Sur">
  <main>
    <div class="noise" style={`background-image: url(${optimizedNoise.src});`}>
    </div>
    <header
      class="header-container"
      style={`background-image: url(${optimizedBackground.src});`}
    >
      <div class="text-container">
        <h1>Hotel Sur</h1>
        <p class="subtitle">¿Has vuelto a pensar en volar?</p>
        <h3>Próximamente</h3>
      </div>
      <div class="spotify-desktop">
        <iframe
          title="spotify player"
          style="border-radius:12px; z-index: 4; border-width: 0; border= 0;"
          src="https://open.spotify.com/embed/artist/5ZsW4wbMl8qYFZ0L9xvBeu?utm_source=generator&theme=0"
          width="100%"
          height="352"
          allowtransparency={true}
          allow="encrypted-media"
          loading="lazy"></iframe>
      </div>
      <div class="spotify-mobile">
        <iframe
          title="spotify player"
          style="border-radius:12px; z-index: 4;"
          src="https://open.spotify.com/embed/artist/5ZsW4wbMl8qYFZ0L9xvBeu?utm_source=generator&theme=0"
          width="80%"
          height="152"
          frameborder="0"
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"></iframe>
      </div>
      <div class="social-media">
        <ul>
          <li>
            <a
              href="https://open.spotify.com/intl-es/artist/5ZsW4wbMl8qYFZ0L9xvBeu"
              target="_blank"
              aria-label="Hotel Sur en Spotify">
              <svg
                id="Spotify_24"
                width="48"
                height="48"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                ><rect
                  width="24"
                  height="24"
                  stroke="none"
                  fill="#000000"
                  opacity="0"></rect>

                <g transform="matrix(1 0 0 1 12 12)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4;  opacity: 1;"
                    transform=" translate(-12, -12)"
                    d="M 12 2 C 6.5 2 2 6.5 2 12 C 2 17.5 6.5 22 12 22 C 17.5 22 22 17.5 22 12 C 22 6.5 17.5 2 12 2 z M 16.057 16.406 C 15.868999999999998 16.406 15.774999999999999 16.311999999999998 15.586999999999998 16.218 C 14.175999999999998 15.371 12.388999999999998 14.901 10.508 14.901 C 9.472999999999999 14.901 8.344999999999999 15.089 7.403999999999999 15.277 C 7.215999999999999 15.277 7.027999999999999 15.370999999999999 6.933999999999999 15.370999999999999 C 6.557999999999999 15.370999999999999 6.275999999999999 15.088999999999999 6.275999999999999 14.713 C 6.275999999999999 14.337 6.463999999999999 14.055 6.839999999999999 14.055 C 8.062999999999999 13.773 9.286 13.584999999999999 10.602999999999998 13.584999999999999 C 12.765999999999998 13.584999999999999 14.741999999999997 14.149 16.435 15.09 C 16.622999999999998 15.278 16.811 15.372 16.811 15.748 C 16.621 16.218 16.339 16.406 16.057 16.406 z M 17.091 13.773 C 16.903000000000002 13.773 16.715 13.679 16.527 13.584999999999999 C 14.928 12.549999999999999 12.670000000000002 11.985999999999999 10.225000000000001 11.985999999999999 C 9.002 11.985999999999999 7.873000000000001 12.174 7.027000000000001 12.361999999999998 C 6.839000000000001 12.455999999999998 6.745000000000001 12.455999999999998 6.557000000000001 12.455999999999998 C 6.0870000000000015 12.455999999999998 5.804000000000001 12.079999999999998 5.804000000000001 11.702999999999998 C 5.804000000000001 11.232999999999997 5.992000000000001 11.044999999999998 6.4620000000000015 10.855999999999998 C 7.591000000000001 10.573999999999998 8.720000000000002 10.291999999999998 10.319000000000003 10.291999999999998 C 12.953000000000003 10.291999999999998 15.398000000000003 10.949999999999998 17.468000000000004 12.172999999999998 C 17.750000000000004 12.360999999999999 17.938000000000002 12.642999999999999 17.938000000000002 12.925999999999998 C 17.844 13.396 17.562 13.773 17.091 13.773 z M 18.314 10.762 C 18.126 10.762 18.032 10.668000000000001 17.75 10.574 C 15.869 9.539 13.141 8.881 10.507 8.881 C 9.19 8.881 7.779 9.069 6.555999999999999 9.351 C 6.367999999999999 9.351 6.273999999999999 9.445 5.991999999999999 9.445 C 5.428 9.54 5.051 9.069 5.051 8.505 C 5.051 7.941000000000001 5.333 7.658000000000001 5.7090000000000005 7.564000000000001 C 7.215 7.188 8.814 7 10.507 7 C 13.423 7 16.433 7.658 18.785 8.881 C 19.067 9.069 19.349 9.351 19.349 9.822000000000001 C 19.255 10.386 18.878 10.762 18.314 10.762 z"
                    stroke-linecap="round"></path>
                </g>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/hotelsur/?hl=es" target="_blank"
            aria-label="Hotel Sur en Instagram"
            >
              <svg
                id="Instagram_24"
                width="48"
                height="48"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                ><rect
                  width="24"
                  height="24"
                  stroke="none"
                  fill="#000000"
                  opacity="0"></rect>

                <g transform="matrix(1.11 0 0 1.11 12 12)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4;  opacity: 1;"
                    transform=" translate(-12, -12)"
                    d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 C 10.34314575050762 9 9 10.34314575050762 9 12 C 9 13.65685424949238 10.34314575050762 15 12 15 C 13.65685424949238 15 15 13.65685424949238 15 12 C 15 10.34314575050762 13.65685424949238 9 12 9 z"
                    stroke-linecap="round"></path>
                </g>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.tiktok.com/@hotelsur" target="_blank"
            aria-label="Hotel Sur en TikTok"
            >
              <svg
                id="TikTok_24"
                width="48"
                height="48"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                ><rect
                  width="24"
                  height="24"
                  stroke="none"
                  fill="#000000"
                  opacity="0"></rect>

                <g transform="matrix(0.48 0 0 0.48 12 12)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4;  opacity: 1;"
                    transform=" translate(-25, -25)"
                    d="M 41 4 L 9 4 C 6.243 4 4 6.243 4 9 L 4 41 C 4 43.757 6.243 46 9 46 L 41 46 C 43.757 46 46 43.757 46 41 L 46 9 C 46 6.243 43.757 4 41 4 z M 37.006 22.323 C 36.779 22.344 36.549 22.358 36.316 22.358 C 33.693000000000005 22.358 31.388 21.009 30.047000000000004 18.97 C 30.047000000000004 24.319 30.047000000000004 30.405 30.047000000000004 30.506999999999998 C 30.047000000000004 35.215999999999994 26.229000000000003 39.034 21.520000000000003 39.034 C 16.811000000000003 39.034 12.993000000000004 35.216 12.993000000000004 30.506999999999998 C 12.993000000000004 25.797999999999995 16.811000000000003 21.979999999999997 21.520000000000003 21.979999999999997 C 21.698000000000004 21.979999999999997 21.872000000000003 21.995999999999995 22.047000000000004 22.006999999999998 L 22.047000000000004 26.208999999999996 C 21.872000000000003 26.187999999999995 21.700000000000003 26.155999999999995 21.520000000000003 26.155999999999995 C 19.116000000000003 26.155999999999995 17.168000000000003 28.103999999999996 17.168000000000003 30.507999999999996 C 17.168000000000003 32.91199999999999 19.116000000000003 34.86 21.520000000000003 34.86 C 23.924000000000003 34.86 26.047000000000004 32.966 26.047000000000004 30.561999999999998 C 26.047000000000004 30.467 26.089000000000006 10.967999999999996 26.089000000000006 10.967999999999996 L 30.105000000000004 10.967999999999996 C 30.483000000000004 14.558999999999997 33.382000000000005 17.392999999999997 37.006 17.652999999999995 L 37.006 22.323 z"
                    stroke-linecap="round"></path>
                </g>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </header>
  </main>

  <style>
    main {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .noise {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      min-height: 100vh;
      overflow: hidden;
      pointer-events: none;
      mix-blend-mode: overlay;
      background-repeat: repeat;
      z-index: 3;
      opacity: 0.9;
    }

    header {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      flex-direction: column;
      width: 100%;
     
    }

    .header-container {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-blend-mode: multiply;
    }

    .text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      text-wrap: balance;
      width: 80%;
    }

    .subtitle {
      font-size: 0.9rem;
      margin-top: 0;
      font-weight: 300;
      letter-spacing: 0.5rem;
      font-weight: 700;
      color: var(--color-accent);
      text-transform: uppercase;
    }

    .spotify-desktop {
      padding: 0, 0.3rem;
      border-radius: 0.5rem;
      margin-top: 2rem;
      width: 90%;
      max-width: 700px;
      justify-content: center;
      align-items: center;
      display: none;
    }
    .spotify-mobile {
      padding: 0, 0.3rem;
      border-radius: 0.5rem;
      margin-top: 2rem;
      width: 100%;

      justify-content: center;
      align-items: center;
      display: flex;
    }

    .social-media > ul {
      margin-top: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .social-media > ul > li {
      margin: 0 0.5rem;
      width: 2rem;
      height: 2rem;
    }

    .social-media > ul > li > a > svg {
      width: 100%;
      height: 100%;
      fill: var(--color-accent);
    }

    svg:hover {
      transform: scale(1.2);
      transition: transform 0.3s ease-in-out;

    }

    @media (min-width: 768px) {
      .subtitle {
        font-size: 1.2rem;
      }

     

 
  

    @media (min-width: 1024px) {
      .subtitle {
        font-size: 0.9rem;
      }

      .spotify-desktop {
        display: flex;
      }
      .spotify-mobile {
        display: none;
      }
    }
  </style>

  <script>
    // This is an example of a client-side script.
    // See https://docs.astro.build/core-concepts/scripts for more information.
    // console.log("Hello from Astro!");

    // This is an example of a server-side script.
    // See https://docs.astro.build/core-concepts/scripts for more information.
    export const serverSideScript = () => {
      console.log("Hello from the server!");
    };

    const title = document.querySelector("h1");

    if (!title) {
      throw new Error("No title found!");
    }

    title.onclick = () => {
      serverSideScript();
    };
  </script>
</Layout>
